
.graphSelect {

}
.menu{
    border-collapse: collapse;
    sposition: absolute;
    margin:auto;
}           

dd{
    border-right:2px;
    border-left: 9px;
}

th{
    text-align:center;
    padding:10px;
}
td{
    padding:5px;
}

.myCanvas{
    margin: - 3px;
}
.cntr {
    margin: auto;
}
