#mainmenu {
  /*display: block; */
  display: inline-block;
  position: relative; 
  background-color: #333; 
  height: 80px;
  width : 100%;
  margin-bottom: -5px;
  min-width: 450px;
}  

#divmainmenu {
  width: 60%; 
  left: 10%;
  margin: 0 auto; 
  position: absolute;
  display: inline-block;  
  min-width: 350px;
}

#divmylogo {
  /*float: left;*/ 
  /*display: block; */
  display: inline-block;
  position: absolute;
}

#mylogo {
  /*display: block; */
  display: inline-block;
  position: absolute;
  /*width: 20%;*/
  /*float: left;*/ 
  height: 45px; 
  width: 200px;
  /*margin-top: 11px;*/
}

#idregistration {
  position: absolute;
  display: inline-block;
  left: 77%;
  /*margin: 25;*/
  padding: 0;
  color: white; 
  width: 22%; 
  height: 100%;
  /*float : left-side;*/	
}

#divusers {
  display: block; 
  float: left; 
  width: 2%; 
  height: 40%; 
  /*margin-top: 20px;*/
}

#imgusers {
  color: white;
  width: 100%; 
  height: 100%;
}

#divlanguage {
  display: block; 
  float: left; 
  height: 25%; 
  /*margin-top: 27px;*/ 
  margin-left: 15px; 
}

#divflaguk {
  display: block; 
  float: left; 
  width: 20px; 
  height: 15px; 
  /*margin-top: 26px;*/ 
  margin-left: 10px;
}

#imgflaguk {
  color: white; 
  width: 100%; 
  height: 100%; 
  /*opacity: 0.6; 
  filter: alpha(opacity=60);*/
}

#divflagrus {
  display: block; 
  float: left; 
  width: 20px; 
  height: 15px; 
  /*margin-top: 26px;*/ 
  margin-left: 10px; 
}

#imgflagrus {
  color: white; 
  width: 100%; 
  height: 100%;
}
  
#navigation {
  display: inline-block;
  position: absolute;
  left : 30%;
  width: 100%;
  /*padding: 0;*/
  font-size: 24px;
  font-family: Arial;
  /*float: right;*/
  list-style-type: none;
  /*height: 35px;*/
  /*background-color: #333;*/
  padding-left: 5px;
  /*display: block;*/
  max-width: 1000px;
  min-width: 100px;
}
#navigation li { 
  /*margin-top: 20px;*/
  display: block; 
  float: left;
  position: relative;
  height: 100%;
  width: 17%;

}
    
#navigation ul {
  /*display: block;
  background-color: #999;*/
  position: absolute;
  /*top: 100%;*/
  left: 0px;
  text-align: left;
  /*height: 200%;*/
}

#navigation li ul { 
  display: none; 
  width: 170%;
  text-align: left;
  left: 0px;
  
}

#navigation li ul li { 
  position: relative;
  left: 0px;
  text-align: left;
}

#navigation li:hover ul { 
  display: block; 
  /*height: 200%;*/
  border: 2px solid rgba(147, 184, 189, 0.5);
  background-color: rgba(100, 100, 100, 0.5);
  left: 20%;
  top: 100%;
  -webkit-box-shadow: 0pt 1px 2px rgba(105, 108, 109,  0.7),	0px 0px 3px 2px rgba(208, 223, 226, 0.4) inset;
  -moz-box-shadow: 0pt 1px 2px rgba(105, 108, 109,  0.7),	0px 0px 3px 2px rgba(208, 223, 226, 0.4) inset;
  box-shadow: 0pt 1px 2px rgba(105, 108, 109,  0.7),	0px 0px 3px 2px rgba(208, 223, 226, 0.4) inset;
}

#navigation, #navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navigation li a {
  display: block;
  /*padding: 6px;*/
  /*width: 25%;*/
  color: white;
  text-decoration: none;
  text-align: center;
}

#navigation li a:hover { color: lime; }

#navigation ul li {
   position: relative;
   left: 0px;   
   float: none; 
   width: 100%;
   height: 1.2em;
   /*text-align: left;*/
   margin: 0.5em;
   color: white;
}

#navigation ul li:hover {
   color: lime;
}

#navigation ul li a {
   position: relative;
   left: 0px; 
   text-align: left; 
   color: white;   
   /*float: none; 
   width: 200%;
   
   margin-left: 0px;*/
}

#navigation ul li a:hover {
    color: lime;
}

#navigation ul li a:active {
    color: lime;
}

#navigation ul li a:hover:active {
    color: lime;
}

/*#navigation li:hover { background-color: #999; }
#navigation ul li:hover { background-color: #333; }
#navigation ul li:hover ul{ background-color: #333; }   
#navigation ul li:hover ul li { background-color: #333; }*/    

#navigation li a.active { color: aqua; }

#navigation li a.active:hover { color: lime; }

#navigation li ul li a { color: white; }

#navigation li ul li a:hover { color: lime; }

#navigation li ul li a.active { color: aqua; }

#navigation li ul li a.active:hover { color: lime; }
