
.graphSelect {

}
.menu{
    border-collapse: collapse;
    sposition: absolute;
    margin:auto;
}           

dd{
    border-right:1px;
    border-left: 1px;
}

th{
    text-align:center;
    padding:1px;
}
td{
    padding:1px;
}

.myCanvas{
    margin: - 1px;
}
.cntr {
    margin: auto;
}
