
.graphSelect {

}

.menu{
    position: absolute; 
	display: flex; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	min-width: 470px;
	background-color: rgb(150,150,150); 
	color: white;
} 

.tablemenu {
	width: 100%;
	height: 100%;
    border-collapse: collapse;
	/*background-color:#494747;*/ 
	color:white; 
	font-family: Arial;
    /*position: absolute;*/
    margin:auto;
}          

/*dd{
    border-right:1px;
    border-left: 1px;
}

th{
    text-align:center;
    padding:1px;
}
td{
    padding:1px;
}*/

.myCanvas{
    margin: - 1px;
}
.cntr {
    margin: auto;
}

#menupaneltab {
	margin: auto; 
	top; height: 100%; 
	width: 100%; 
	min-width: 470px; 
	/*border-color: white;*/ 
	text-align: center;  
	font-size: 1em;
	border-spacing: 0 0;
	/*border-collapse: collapse;*/
}

#startpanel {
	position: absolute; 
	display: flex; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgb(150,150,150); 
	color: white;
}

#startpaneltab {
	margin: auto; 
	top; height: 100%; 
	width: 100%; 
	min-width: 470px; 
	border-color: rgb(150,150,150); 
	text-align: center;  
	font-size: 1em;
	border-spacing: 0 0;
	/*border-collapse: collapse;*/
}

#progtitle1 {
	color: red; 
	font-size: 3em;
}

.progtitle {
	color: red; 
	/*font-size: 3em;*/
	background-color: rgb(120,120,120);
	box-shadow: 0 2px 3px rgb(20,20,20);
	-webkit-box-shadow: 0 2px 3px rgb(20,20,20);
    -moz-box-shadow: 0 2px 3px rgb(20,20,20);
}

#systime {
	font-size: 4em;
	background-color: rgb(220,220,220);
	color : red; /*rgb(80,80,80);*/
	box-shadow: inset  0 0 3px 2px rgb(20,20,20);
	-webkit-box-shadow: inset 0 0 3px 2px rgb(20,20,20);
    -moz-box-shadow: inset 0 0 3px 2px rgb(20,20,20);
}

#localtime {
	font-size: 4em;
	width: 10em;
	background-color: rgb(220,220,220);
	color : rgb(80,80,80);
	box-shadow: inset  0 0 3px 2px rgb(20,20,20);
	-webkit-box-shadow: inset 0 0 3px 2px rgb(20,20,20);
    -moz-box-shadow: inset 0 0 3px 2px rgb(20,20,20);
}

#statussynch {
	font-size: 2em; 
	color: red;
}	

.btninputscreen {
	border: 3px solid rgb(140,140,140); 
	width: 20em; 
	background-color: rgb(120,120,120); 
	color: white;
	font-size: 2em;
	box-shadow: 2px 2px 1px 3px rgb(20,20,20);
	-webkit-box-shadow: 2px 2px 1px 3px rgb(20,20,20);
    -moz-box-shadow: 2px 2px 1px 3px rgb(20,20,20);
	-moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -khtml-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
}

.btntypescreen {
	width: 9em;
	border: 2px solid rgb(80,80,80);  
	background-color: rgb(180,180,180); 
	box-shadow: 2px 2px 3px 1px rgb(20,20,20);
	-webkit-box-shadow: 2px 2px 3px 1px rgb(20,20,20);
    -moz-box-shadow: 2px 2px 3px 1px rgb(20,20,20);
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 25px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.btntypescreen:hover {
	/*border: 2px solid rgb(80,80,80);*/  
	background-color: rgb(100,100,100);
}

.optionsscreen {
	border: 3px solid rgb(140,140,140); 
	/*width: 17em;*/ 
	background-color: rgb(180,180,180); 
	box-shadow: 2px 2px 1px 3px rgb(20,20,20);
	-webkit-box-shadow: 2px 2px 1px 3px rgb(20,20,20);
    -moz-box-shadow: 2px 2px 1px 3px rgb(20,20,20);
	-moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -khtml-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
}

.topoptionsscreen {
	background-color: rgb(100,100,100);
    -moz-border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    -khtml-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
}

.bottomoptionsscreen {
	-moz-border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    -khtml-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px;
}

#imgsynch, #imgsynch1, #imgsynch2, #imgaudioonoff {
	/*border: 3px solid rgb(140,140,140); */
	width: 3.5em; 
	height: 3.5em;
	background-color: rgb(120,120,120); 
	box-shadow: 1px 1px 1px 2px rgb(60,60,60);
	-webkit-box-shadow: 1px 1px 1px 2px rgb(60,60,60);
    -moz-box-shadow: 1px 1px 1px 2px rgb(60,60,60);
	-moz-border-radius: 5px 5px 5px 25px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#imgdownfsize, #imgupfsize, #imgdowntlsize, #imguptlsize {
	/*border: 3px solid rgb(140,140,140); */
	width: 2.5em; 
	height: 2.5em;
	background-color: rgb(120,120,120); 
	box-shadow: 1px 1px 1px 2px rgb(60,60,60);
	-webkit-box-shadow: 1px 1px 1px 2px rgb(60,60,60);
    -moz-box-shadow: 1px 1px 1px 2px rgb(60,60,60);
	-moz-border-radius: 5px 5px 5px 25px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#imgsynch:hover, #imgsynch1:hover, #imgsynch2:hover, #imgaudioonoff:hover, 
#imgdownfsize:hover, #imgupfsize:hover, #imgdowntlsize:hover, #imguptlsize:hover  {
	background-color: rgb(80,80,80); 
}
	
.btninputscreen:hover {
	border: 2px solid rgb(60,60,60);
	background-color: rgb(80,80,80);
}

.footertab {
	height: 1.5em;  
	font-size: 1.5em;
	background-color: rgb(120,120,120);
	box-shadow: 0 -2px 3px rgb(20,20,20);
	-webkit-box-shadow: 0 -2px 3px rgb(20,20,20);
    -moz-box-shadow: 0 -2px 3px rgb(20,20,20);
}

#synchvisible {
	width: 1.2em; 
	height: 1.2em; 
	margin: auto;
	margin-right: 0;
}

#lbsynchvisible {
	font-size: 1.5em; 
	/*text-align: left;*/
}

.filldiv {
	position: relative; 
	width: 100%; 
	height: 100%; 
	display: flex;
}

.rowtable {
	width: 100%; 
	height: 100%; 
	border-spacing: 5px 5px;
}

.idlanguage {
	width: 3em; 
	font-size: 1.5em; 
	color: white;
}

.rusflag, .engflag {
    width: 100%; 
	height: 2em;
}
/*#statussynch {
  -webkit-animation: statussynch 1.5s linear infinite;
  animation: statussynch 1.5s linear infinite;
}
@-webkit-keyframes statussynch {
  0% { color: rgba(0, 255, 0, 1); }
  50% { color: rgba(0, 255, 0, 0); }
  100% { color: rgba(0, 255, 0, 1); }
}
@keyframes statussynch {
  0% { color: rgba(0, 255, 0, 1); }
  50% { color: rgba(0, 255, 0, 0); }
  100% { color: rgba(0, 255, 0, 1); }
}*/

