.loginform { 
    height: 350px;  
    width: 350px;
    /*border: 3px outset gray;*/ 
    background: rgb(100, 100, 100);
	color: white;
    top: 35%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 20px; 
    margin: 0 auto;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
    border: 1px solid rgba(147, 184, 189,0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.registerform { 
    height: 625px;  
    width: 350px;
    /*border: 3px outset gray;*/ 
    background: rgb(100, 100, 100);
	color: white;
    top: 20%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 20px;
    margin: 0 auto;
    z-index:1; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
    border: 1px solid rgba(147, 184, 189,0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


#register {	
    z-index: 21;
	font-size: 20px;
    /*opacity: 0;*/
}
#login {
	font-size: 20px;
    z-index: 22;
}


::-webkit-input-placeholder  { 
    color: rgb(190, 188, 188); 
    font-style: italic;
}
 
input:-moz-placeholder,
textarea:-moz-placeholde r{ 
    color: rgb(190, 188, 188);
    font-style: italic;
} 
 
input {
    outline: none;
}

p.login.button,
p.signin.button {
    text-align: center;
    margin: 5px 0;
}

/*p.exit.button{
    text-align: right;
    margin: 3px 0px;
}*/
.inputstr {
	width: 350;
}

.divintext {
	color: Silver; 
	font-size: 40px; 
	width: 300px; 
	left: 15px; 
	top: 5%; 
	text-align: left; 
	position: absolute; 
	display: inline-block; 
	float: left;
}

.divbtnexit {
	width: 45px; 
	height: 35px;  
	position: absolute; 
	display: inline-block; 
	left: 89%; 
	top: 2.5%; 
}

#exitlogin, #exitregister {
	height: 32px; 
	width: 32px;
	background-color: Salmon; 
	color: rgb(220, 220, 220);
	font-size: 20px; 
	font-weight: bolder;
}

#exitlogin:hover, #exitregister:hover {
	background-color: red;
	color: white;
}	

#namesignup, #subnamesignup, #username, #password, #usernamesignup,
#emailsignup,#passwordsignup, #passwordsignup_confirm {
	font-size: 16px; 
	height: 25px; 
	width: 345px;
}

#btnexecute, #btnconfirm { 
    height: 40px; 
	width: 220px; 
	font-size: 20px; 
	font-weight: bolder; 
	background-color: rgb(140, 140, 140); 
	color: rgb(220, 220, 220);
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

#btnexecute:hover, #btnconfirm:hover { 
    height: 40px; 
	width: 220px; 
	background-color: rgb(120, 120, 120); 
	color: white;
}

#inputmess, #registrmess {
	color: gold; 
	text-align: center; 
	font-size: 1em; 
	line-height: 1.5em; 
	height: 1.5em;
	width: 100%; 
}

#inputmess {
	margin-top: 5px;
}

#registrmess {
	margin-top: 15px;
}

.change_link {
	color: silver; 
	font-size: 18px;
}

.change_link:hover {
	color: aqua; 
}

.modalwin { 
    height: 200px;  
    width: 300px;
    /*border: 3px outset gray;*/ 
    background: rgb(100, 100, 100);
	color: white;
    top: 35%; /* отступ сверху */
    right: 0;
    left: 0;
	text-align: center;
    /*font-size: 14px;*/ 
    margin: 0 auto;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
    border: 1px solid rgba(147, 184, 189,0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    /*-webkit-box-shadow: 5px;*/
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#popupWin, #dialogWin {
	text-align: center;
}

#textPopupWin, #textDialogWin {
	margin-top: 55px; 
	font-size: 1.2em;
}

#textMessageWin {
	color: yellow;
	margin-top: 60px; 
	font-size: 1.2em;
}

#btnPopupWin, #btnDialogCancel, #btnDialogOK {
	margin-top: 5%;
	font-size: 1em;
	height: 2em;
}

#btnDialogCancel, #btnDialogOK {
	width: 20%;
}
	
#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.4; /*прозрачность*/
    left:0;
    top:0;
}

.nav  {    
    display: block;
    position: fixed;
    right:1%;
    top: 80%;
    display:none;
    height:50px;
    width:50px;
    background-color: rgba(190,190,190,0.5); 
	/*background: url(../images/arrayup1.png) no-repeat; 
	background-size: 66px 66px;*/
    line-height:50px;
    /*transition:all .7s ease-out;*/
    border: 1px solid #333;
    border-radius: 2em;
	z-index: 2; 
}

.nav:hover {
    position: fixed;
    right: 1%;
    top: 80%;
    width:50px;
    height:50px;  
    /*display: block;*/
	background-color: rgba(230,230,230,0.5);
    /*z-index:99999999;*/   
	
}  

.classtry {
	display: block;
    position: fixed;
    Left: 0.6%;
    top: 20%;
    display: block;
    height:60%;
    width:14.1%;
	min-width: 150px;
    background-color: rgb(240,240,240); 
	/*background: url(../images/arrayup1.png) no-repeat; 
	background-size: 66px 66px;*/
    /*line-height:50px;*/
    /*transition:all .7s ease-out;*/
    /*border: 1px solid #333;*/
	border: 3px solid rgb(147, 184, 189,0.7);
    border-radius: 1em;
	/*z-index:2;*/ 
}

#trytitle {
	height: 10%; 
	background: rgb(100, 100, 100); 
	border-radius: 1em 1em 0 0;
	vertical-align: middle;
	-webkit-border-radius: 1em 1em 0 0;
	-moz-border-radius: 1em 1em 0 0;
}

#imgtrytitle {
	width: 60%; 
	height: width / 1.2; 
	/*margin: 2%;*/ 
	margin-left: 5%;
}

#trybody {
	height: 70%; 
}

#trytotal {
	height: 8%; 
	
	border-top: 2px solid rgb(147, 184, 189);
}

#tryfooter {
	height: 12%; 
	background: rgb(100, 100, 100); 
	border-radius: 0 0 1em 1em;
	-webkit-border-radius: 0 0 1em 1em;
	-moz-border-radius: 0 0 1em 1em;
}

.btntry {
	margin : auto; 
	height: 50%; 
	width: 85%; 
	background-color: rgb(100,100,100); 
	color: rgb(220,220,220); 
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.btntry:hover {
	background-color: rgb(80,80,80); 
	color: white; 
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.tabtrytitle,
.tabtrybody,
.tabtrytotle,
.tabtryfooter {
	border-spacing: 0; 
	width: 100%;
}

.tabtrytitle,
.tabtryfooter {
	height: 100%;
}

.tabtrytitle {
	color: white;
}

.prodR0C0 = {
    width: 10%; 
	border-bottom: 1px solid; 
	border-right: 1px solid; 
	border-collapse: collapse;	
}

#popusermenu {
	position: absolute; 
	display: none; 
	width: 200px; 
	height: 120px; 
	color: white; 
	border: 2px solid rgba(147, 184, 189, 0.5);
    background-color: rgba(100, 100, 100, 0.7);
    -webkit-box-shadow: 0pt 1px 2px rgba(105, 108, 109,  0.7),	0px 0px 3px 2px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 1px 2px rgba(105, 108, 109,  0.7),	0px 0px 3px 2px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 1px 2px rgba(105, 108, 109,  0.7),	0px 0px 3px 2px rgba(208, 223, 226, 0.4) inset; 
	z-index: 1000;
}

#boundusermenu {
    position: relative;
	left: 2%;
	top: 2%;
	width: 95%;
    height: 95%;
    /*border: 1px solid white;*/	
}	

#boundusermenu ul {
	margin: 2.5%; /* Отступ слева в браузере IE и Opera */
    padding-left: 2.5%; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

#boundusermenu li {
	list-style-type: none;
	color: white;
	margin-top: 2%;
}

#popusermenu li:hover {
	list-style-type: none;
	color: lime;
}
