body {
	background-color: #333;
	overflow-x: hidden;
}

::-webkit-input-placeholder {color:silver; opacity:1;}/* webkit */
::-moz-placeholder          {color:silver; opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {color:silver; opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {color:silver; opacity:1;}/* IE */

#mvsheader {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 7.5%; 
	background-color: #999; 
	text-align: center; 
	color: white;
	/*border: 1px solid white;*/
}

#mvslogo {
	position: relative; 
	width: 60%;
    /*margin: auto;*/
	min-width: 100px;
	left: 30%;
	top: 20%;
	height: 60%;
	/*border: 1px solid white;*/
}

#mvsimage {
	width: 100%; 
	height: 100%;
}

#textheader {
	position: relative;
	/*margin: auto;*/
	width: 100%;
	height: 50%;
	top: 30%;
    font-size: 1.5em;	
}

#verlogin {
	display: block;
	position: absolute; 
	top: 5em; 
	margin :auto; 
	width: 100%; 
	height: 87.5%;
}

#winlogin {
	position: relative; 
	top: 25%; 
	margin :auto; 
	width: 100%; 
	min-width: 30em; 
	max-width: 35em; 
	color: white;
}

#winlogindata {
	margin: auto; 
	margin-top: 0px; 
	width: 18em; 
	font-size: 1em
}

#login, #password, #codeconfirm {
	width: 100%; 
	font-size: 1em;
}

#codetext {
	float: left; 
	width: 30%;
}

#codevalue {
	width: 35%; 
	text-align: center; 
	height: 1.4em; 
	float:left; 
	background-color: bisque; 
	color: tomato;  
    font-size: 1.1em;
}

#message {
	height: 0.9em; 
	width: 100%; 
	text-align: center; 
	color: red;
}

#btnconfirm {
	font-size: 1em; 
	background-color: #999; 
	color: white;
}

#winlogintext {
	position: relative; 
	margin :auto; 
	width: 100%; 
	min-width: 20em; 
	max-width: 35em; 
	color: white; 
	font-size: 0.9em; 
	text-align: center;"
}

#btnchange {
	width: 30%; 
	margin-left: 5%; 
	font-size: 1em; 
	background-color: #999; 
	color: white;
}

#verexit, #vermessage {
	position: absolute; 
	top: 25%; 
	left: 0px; 
	width: 100%; 
	height: 50%; 
	margin :auto; 
	text-align: center; 
	color: white;  
	display: none;
	/*border: 1px solid white;
	min-width: 300px;
	max-width: 400px;*/
	min-height: 300px;
}

#verexitbody, #vermessagebody {
	position: relative; 
	margin: auto; 
	margin-top: 5%; 
	min-width: 300px; 
	max-width: 400px; 
	min-height: 250px; 
	/*border: 1px solid white;*/
}	

#tablestatus {
	position: relative; 
	margin: auto; 
	width: 100%; 
	/*min-width: 450px; 
	max-width: 600px;*/ 
	border-spacing: 0px 2px; 
	border-color: white;
	overflow-x: none;
	
}

.rowstatus {
	height: 1.5em;
}

.keystatus {
	width: 50%;
	text-align: left;
}

.valuestatus {
	height: 1.5em; 
	width: 100%;
}

#mvsfooter {
	position: absolute; 
	top: 95%; 
	left: 0; 
	width: 100%; 
	height: 5%; 
	background-color: #999; 
	text-align: center; 
	color: white;
	font-size: 1em;
}
