LOCK                    BITMAP                  "Lock.bmp"
UNLOCK                  BITMAP                  "Unlock.bmp"
OK                      BITMAP                  "OK.bmp"
TOOLS1                  BITMAP                  "Tools1.bmp"
TOOLS2                  BITMAP                  "Tools2.bmp"
TOOLS3                  BITMAP                  "Tools3.bmp"
TOOLS4                  BITMAP                  "Tools4.bmp"
TOOLS5                  BITMAP                  "Tools5.bmp"
TOOLS6                  BITMAP                  "Tools6.bmp"
TOOLS7                  BITMAP                  "Tools7.bmp"
TOOLS8                  BITMAP                  "Tools8.bmp"
TOOLS9                  BITMAP                  "Tools9.bmp"
TOOLS10                 BITMAP                  "Tools10.bmp"
TEXT1                   BITMAP                  "Text1.bmp"
TEXT2                   BITMAP                  "Text2.bmp"
TEXT3                   BITMAP                  "Text3.bmp"
TEXT4                   BITMAP                  "Text4.bmp"
TEXT5                   BITMAP                  "Text5.bmp"
TEXT6                   BITMAP                  "Text6.bmp"
TEXT7                   BITMAP                  "Text7.bmp"
TEXT8                   BITMAP                  "Text8.bmp"
TEXT9                   BITMAP                  "Text9.bmp"
TEXT10                  BITMAP                  "Text10.bmp"
MEDIA1                  BITMAP                  "Media1.bmp"
MEDIA2                  BITMAP                  "Media2.bmp"
MEDIA3                  BITMAP                  "Media3.bmp"
MEDIA4                  BITMAP                  "Media4.bmp"
MEDIA5                  BITMAP                  "Media5.bmp"
MEDIA6                  BITMAP                  "Media6.bmp"
MEDIA7                  BITMAP                  "Media7.bmp"
MEDIA8                  BITMAP                  "Media8.bmp"
MEDIA9                  BITMAP                  "Media9.bmp"
MEDIA10                 BITMAP                  "Media10.bmp"
BUTTON1                 BITMAP                  "Button1.bmp"
BUTTON2                 BITMAP                  "Button2.bmp"
BUTTON3                 BITMAP                  "Button3.bmp"
BUTTON4                 BITMAP                  "Button4.bmp"
BUTTON5                 BITMAP                  "Button5.bmp"
BUTTON6                 BITMAP                  "Button6.bmp"
BUTTON7                 BITMAP                  "Button7.bmp"
BUTTON8                 BITMAP                  "Button8.bmp"
BUTTON9                 BITMAP                  "Button9.bmp"
BUTTON10                BITMAP                  "Button10.bmp"
BUTTON11                BITMAP                  "Button11.bmp"
BUTTON12                BITMAP                  "Button12.bmp"
BUTTON13                BITMAP                  "Button13.bmp"
BUTTON14                BITMAP                  "Button14.bmp"
BUTTON15                BITMAP                  "Button15.bmp"
BUTTON16                BITMAP                  "Button16.bmp"
BUTTON17                BITMAP                  "Button17.bmp"
BUTTON18                BITMAP                  "Button18.bmp"
BUTTON19                BITMAP                  "Button19.bmp"
BUTTON20                BITMAP                  "Button20.bmp"
BUTTON21                BITMAP                  "Button21.bmp"
BUTTON22                BITMAP                  "Button22.bmp"
BUTTON23                BITMAP                  "Button23.bmp"
BUTTON24                BITMAP                  "Button24.bmp"
BUTTON25                BITMAP                  "Button25.bmp"
BUTTON26                BITMAP                  "Button26.bmp"
BUTTON27                BITMAP                  "Button27.bmp"
BUTTON28                BITMAP                  "Button28.bmp"
BUTTON29                BITMAP                  "Button29.bmp"
BUTTON30                BITMAP                  "Button30.bmp"
BUTTON31                BITMAP                  "Button31.bmp"
BUTTON32                BITMAP                  "Button32.bmp"