body {
    color: #333;
}

.adminapplogo {
    float: left;
    height: 16px;
    width: 40px;
    background-repeat: no-repeat;
    background-image: url(../../Images/Stock/ITNlogo.svg);
    background-size: contain;
    margin-top: 2px;
}

.aboutapplogo {
    float: left;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(../../Images/Stock/ITN2Logo.svg);
    background-size: contain;
}

.itnlogo {
    float: left;
    /*
    height: 20px;
    width: 40px;
    background-repeat: no-repeat;
    background-image: url(../../Images/Stock/ITNlogo_white.svg);
    */
    height: 40px;
    width: 50px;
    background-repeat: no-repeat;
    background-image: url(../../../Client/Images/redlogoredlogo.png);
    background-size: contain;
    margin-top: -3px;
}

.gridPager {
    color: #666666;
}

    .gridPager td {
        padding: 3px;
        border-collapse: collapse;
        font-size: 12px;
        line-height: 1.5;
    }

    .gridPager span {
        color: #fff;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        background-color: #428bca;
    }

    .gridPager a:link {
        color: #000000;
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        background-repeat: repeat-x;
    }

    .gridPager a:visited {
    }

    .gridPager a:hover {
        border: 1px solid #999999;
        background-color: #ededed;
        background-repeat: repeat-x;
    }

    .gridPager a:active {
        border: 1px solid #999999;
        background-color: #e4e4e4;
        background-repeat: repeat-x;
    }

.itemtitle {
    font-size: 1.4em;
    color: #666666;
}

.navbarsearch {
    padding-top: 7px;
}

.navbarsearchinput {
    width: 80px !important;
}

.input-xs {
    height: 22px;
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

.iconlightgray {
    color: #E2E2E2;
}

.iconblack {
    color: #000000;
}

.icongray {
    color: #686868;
}

.icongrayhover {
    color: #4D4D4D;
}

.iconblue {
    color: #3E78B3;
}

.iconbluehover {
    color: #1163B7;
}

.iconred {
    color: #CC4C33;
}

.iconredhover {
    color: #DA2501;
}

.icongreen {
    color: #5D924F;
}

.iconwhite {
    color: #FFFFFF;
}

.iconyellow {
    color: #ffd503;
}

.navadminkey {
}

.navbreadcrumb {
    padding: 0px 0px 10px;
    color: #666;
}

    .navbreadcrumb > h4 > a {
        color: #666;
        text-decoration: none;
    }

        .navbreadcrumb > h4 > a:link {
        }

        .navbreadcrumb > h4 > a:visited {
        }

        .navbreadcrumb > h4 > a:hover {
            color: #999;
        }

        .navbreadcrumb > h4 > a:active {
        }

.breadcrumbtitle {
    padding-right: 10px;
}

.breadcrumbmain {
    color: #999;
    padding-right: 10px;
}

.breadcrumbsub {
    padding-top: 10px;
    color: #999;
    font-weight: 400;
}

.breadcrumbmenu {
    line-height: 30px;
}

.breadcrumbbtn {
    padding: 0px 12px;
}

.valnote {
    color: #a94442;
    font-size: 10pt;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.valnote-sm {
    font-size: 8pt;
}

.responsenote {
    padding: 7px;
}

span.radio-inline {
    padding: 0px;
}

    span.radio-inline > input[type="radio"] {
        margin: 8px -5px 7px 0px;
    }

    span.radio-inline > label {
        margin-right: 5px;
        padding: 0px 5px 0px 10px;
        font-weight: normal;
        font-size: .8em;
    }

span.radio {
    padding: 0px;
}

    span.radio > input[type="radio"] {
        margin: 0px 0px 0px 0px;
    }

    span.radio > label {
        margin-right: 5px;
        padding: 0px 5px 0px 10px;
        font-size: .825em;
    }

span.radio-form {
    padding: 0px;
}

    span.radio-form > input[type="radio"] {
        display: block;
        float: left;
        margin: 3px 8px 0px 0px;
    }

    span.radio-form > label {
        margin-right: 5px;
        margin-bottom: 0px;
        padding: 0px 5px 5px 10px;
        font-weight: normal;
        display: block;
    }

span.radio-form-horizontal {
    padding: 0px;
}

    span.radio-form-horizontal > input[type="radio"] {
    }

    span.radio-form-horizontal > label {
        font-weight: normal;
        padding: 0px 16px 0px 6px;
    }

ul.radio-form {
    padding: 0px;
    list-style-type: none;
}

    ul.radio-form > li > input[type="radio"] {
        display: block;
        float: left;
        margin: 3px 8px 0px 0px;
    }

    ul.radio-form > li > label {
        margin-right: 5px;
        margin-bottom: 0px;
        padding: 0px 5px 5px 21px;
        font-weight: normal;
        display: block;
    }

span.checkbox-inline {
    padding: 0px;
}

    span.checkbox-inline > input[type="checkbox"] {
        margin: 0px -5px 0px 0px;
    }

    span.checkbox-inline > label {
        float: left;
        margin-right: 5px;
        padding: 0px 10px 0px 10px;
        font-weight: normal;
        font-size: .8em;
    }

span.checkbox-inline-md {
    padding: 0px;
}

    span.checkbox-inline-md > input[type="checkbox"] {
        margin: 3px -5px 0px 0px;
    }

    span.checkbox-inline-md > label {
        float: left;
        margin-right: 5px;
        padding: 0px 10px 0px 10px;
        font-weight: normal;
        font-size: 1em;
    }

span.checkbox-form {
    padding: 0px;
}

    span.checkbox-form > input[type="checkbox"] {
        display: block;
        float: left;
        margin: 3px 8px 0px 0px;
    }

    span.checkbox-form > label {
        margin-right: 5px;
        margin-bottom: 0px;
        padding: 0px 5px 0px 10px;
        font-weight: normal;
        display: block;
    }

ul.checkbox-form {
    padding: 0px;
    list-style-type: none;
}

    ul.checkbox-form > li > input[type="checkbox"] {
        display: block;
        float: left;
        margin: 3px 8px 0px 0px;
    }

    ul.checkbox-form > li > label {
        margin-right: 5px;
        margin-bottom: 0px;
        padding: 0px 5px 5px 21px;
        font-weight: normal;
        display: block;
    }

.pagebuttons {
    padding: 0px 0px 0px;
}

.pagebuttonsleft {
    padding: 0px 6px 0px 0px;
}

.pagebuttonstext {
    padding: 5px 0px 10px;
}

.pagebuttonstextleft {
    padding: 5px 6px 10px 0px;
}

.filtertitlecontainer {
    margin-top: -10px;
}

.filtercolumn1header {
    background-color: #E2E2E2;
    font-size: 8pt;
}

.filtercolumn2header {
    background-color: #E2E2E2;
    font-size: 8pt;
}

.filtercolumn1 {
    width: 50px;
    text-align: center;
}

.filtercolumn2 {
    width: 50px;
    text-align: center;
}

.filtercolumn3 {
    font-weight: normal;
    font-size: 9pt;
}

.legendIcon {
    font-size: 1.6em;
    opacity: 0;
}

.legendDivider {
    padding: 4px;
}

.legendLabel {
    float: left;
    padding: 4px 0px 0px 5px;
    width: 80px;
    font-size: .8em;
}

.legendComplete {
    float: left;
    background-color: #ffffff;
    border: 1px solid #9A9C9A;
}

.legendIncomplete {
    float: left;
    background-color: #999999;
    border: 1px solid #9A9C9A;
}

.legendBalanceDue {
    float: left;
    background-color: #8B0000;
    border: 1px solid #9A9C9A;
}

.legendNotApproved {
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #9A9C9A;
    background: repeating-linear-gradient( 45deg, #b5b5b5, #b5b5b5 3px, #fff 3px, #fff 4px );
}

.legendCanceled {
    float: left;
    background-color: #000000;
    border: 1px solid #9A9C9A;
    background: repeating-linear-gradient( 45deg, #030303, #030303 3px, #fff 3px, #fff 4px );
}

.legendDeleted {
    float: left;
    background-color: #000000;
    border: 1px solid #9A9C9A;
}

.legendInvalid {
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #9A9C9A;
    border: 1px solid #9A9C9A;
    background: repeating-linear-gradient( 45deg, #fff, #fff 3px, #b6b6b6 3px, #b6b6b6 4px );
}

.gridRowCanceled {
    background: repeating-linear-gradient( 45deg, #030303, #030303 3px, #fff 3px, #fff 4px );
}

.gridRowNotApproved {
    background: repeating-linear-gradient( 45deg, #b5b5b5, #b5b5b5 3px, #fff 3px, #fff 4px );
}

.gridRowInvalid {
    background: repeating-linear-gradient( 45deg, #fff, #fff 3px, #b6b6b6 3px, #b6b6b6 4px );
}

.gridRowOpen {
    vertical-align: top;
    padding-top: 7px;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}

.gridRowClosed {
    vertical-align: top;
    padding-top: 7px;
    background: repeating-linear-gradient( 45deg, #fff, #fff 3px, #b6b6b6 3px, #b6b6b6 4px );
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}

.gridRowDisabled {
    vertical-align: top;
    padding-top: 7px;
    background: repeating-linear-gradient( 45deg, #b5b5b5, #b5b5b5 3px, #fff 3px, #fff 4px );
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}

span.checkbox-sm {
    padding: 0px;
}

    span.checkbox-sm > input[type="checkbox"] {
        margin: 4px -5px 0px 0px;
    }

    span.checkbox-sm > label {
        margin-right: 5px;
        padding: 0px 10px 0px 10px;
        font-weight: normal;
        font-size: .825em;
    }

.multiselect-container > li > a {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-left: 0px;
}

    .multiselect-container > li > a > label > input[type="checkbox"] {
        margin: 2px 2px 0px 0px;
    }

    .multiselect-container > li > a > label.checkbox {
        margin-right: 0px;
        padding: 0px 0px 0px 10px;
        font-weight: normal;
        font-size: .825em;
    }

div.checkboxsettings {
    padding-left: 0px;
}

.control-label-sm {
    font-size: .8em;
}

/* settings page */
.settingsgroups {
    vertical-align: top;
    width: 200px;
    float: left;
}

.settingsgroupname {
    padding: 4px 5px 3px;
}

.settingsgroupnameselected {
    padding: 4px 5px 3px;
    background-color: #e7e7e7;
}

.settingsgroupnotes {
    padding-top: 3px;
    color: #666666;
    font-size: 8pt;
}

.settingspane {
    vertical-align: top;
    padding: 10px 30px 10px;
    width: 400px;
    float: left;
}

.showgroupname {
    padding: 3px 0px 3px;
    padding-bottom: 6px;
    border-bottom: 1px solid #999999;
    font-size: 14pt;
    color: #666666;
}

.showgroupsettings {
    padding-bottom: 20px;
}

.showsettingname {
    font-weight: bold;
    font-size: 9pt;
    padding: 3px 3px 3px 0px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.showsettinghighlightouter {
    padding: 3px;
}

.showsettinghighlightinner {
    font-size: 8pt;
    color: #FFFFFF;
    background-color: #8B0000;
    padding: 3px;
}

.showsettinghelp {
    font-size: 8pt;
    color: #666666;
    padding: 3px 3px 3px 0px;
    font-weight: normal;
}

.showsettinginstallationsouter {
    padding: 3px 3px 3px 0px;
}

.showsettinginstallationsinner {
    font-size: 8pt;
    color: #FFFFFF;
    background-color: #666666;
    padding: 3px;
}

.showsettingvalue {
    padding: 3px 3px 3px 0px;
    padding-top: 0px;
    padding-bottom: 6px;
}

.savesettings {
    padding-top: 20px;
    float: left;
}
/* end settings page */

.groupaddoninner {
    border-right: 0px;
    border-left: 0px;
}

.groupaddon-sm {
    font-size: 8pt;
}

.formsection {
    background-color: #E2E2E2;
    padding: 6px;
}

.formsectionbody {
    padding-left: 6px;
}

.buildboxcontainer {
    font-size: 10pt;
    padding: 3px 6px 3px;
}

.buildboxcontainerblue {
    border: 1px solid #3387b1;
    background-color: #3387b1;
    color: #FFFFFF;
    border-bottom: 0px;
}

.buildboxcontainergray {
    border-bottom: 0px;
    border: 1px solid #dddddd;
    background-color: #f3f3f3;
    border-bottom: 0px;
}

.buildboxcontainerfullgray {
    border: 1px solid #dddddd;
    background-color: #f3f3f3;
}

.buildboxdiv {
    padding: 3px 5px 3px;
    border-top: 0px;
}

.buildboxdivnotopradius {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.buildboxdivblue {
    border: 1px solid #3387b1;
}

.buildboxdivgray {
    border: 1px solid #dddddd;
}

.filterSummaryContainer {
    padding: 3px 0px 3px;
}

.filterSummaryRemove {
    padding: 3px 3px 3px 0px;
}

.filterSummaryText {
    padding-top: 3px;
}

.filterSummaryContainer > a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

    .filterSummaryContainer > a:link {
    }

    .filterSummaryContainer > a:visited {
    }

    .filterSummaryContainer > a:hover {
        color: #666;
    }

    .filterSummaryContainer > a:active {
    }

.simpleSearchForm {
    padding: 20px 0px 0px;
}

.requiredindicator {
    color: #8b0000;
}

.requiredindicatortransparent {
    color: transparent;
}

/* attachmentshandler */
.attachmentGridFormDescription {
    padding: 6px 10px 6px;
    font-weight: bold;
}

.attachmentGridFormDescriptionRequired {
    color: #8B0000;
    font-weight: normal;
    font-size: 8pt;
}

.attachmentGridUrl {
    font-weight: normal;
}

.attachmentGridTypeDescription {
    font-size: 8pt;
    color: #666666;
}

.attachmentGridActions {
    vertical-align: top;
    width: 16px;
    padding: 12px 0px 6px 10px;
}

.attachmentGridStatus {
    width: 16px;
    padding: 6px 0px 6px;
}

.attachmentGridNothing {
    padding: 6px 10px 6px;
}

.attachmentGridItemDescription {
    font-weight: normal;
    font-size: 8pt;
    color: #666666;
}
/* end attachmentshandler */

.templateeditor {
    font-family: monospace;
    font-size: .9em;
}

.ajaxOrderedList li {
    list-style: none;
    margin-left: -40px;
}

.dragHandle {
    width: 18px;
    height: 20px;
    cursor: move;
    background-color: #777777;
    vertical-align: middle;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.callbackStyle {
}

    .callbackStyle table {
        background-color: #5377A9;
    }

.reorderCue {
    padding-top: 14px;
}

.itemArea {
    text-align: left;
    border: 1px solid #d0d0d0;
    color: #000000;
    margin-top: -1px;
}

.itemAreaEditing {
    background-color: #E2E2E2;
    padding: 8px 6px 7px 7px;
}

#loading-indicator {
    position: fixed;
    left: 45%;
    top: 45%;
    color: #666;
}

.iconlargeloader {
    font-size: 4em;
}

#loading-indicatorsmall {
    position: fixed;
    left: 45%;
    top: 20%;
    color: #666;
}

a.recentRegLink1 {
    font-weight: bold;
    color: #222222;
    text-decoration: none;
    font-size: 8pt;
}

a.recentRegLink2 {
    color: #333333;
    text-decoration: none;
    font-size: 8pt;
}

a.recentRegLink3 {
    color: #666666;
    text-decoration: none;
    font-size: 8pt;
}

.list-group-item-compact {
    padding: 6px 10px;
}

.list-group-item-compactmenu {
    padding: 8px 12px;
}

.nav-pills-compact > li > a {
    padding: 3px 6px;
    font-size: .95em;
}

.badge-square {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.demoQuestionResponseWide {
    padding: 6px 0px 20px;
}

.surveyQuestionContainer {
    padding: 0px 0px 20px;
}

.surveyOtherResponseContainer {
    padding-top: 10px;
}

.list-group-item-indent {
    padding-left: 30px;
    font-size: 9pt;
}

.list-group-item-indent-content {
    padding-left: 7px;
    font-size: 9pt;
}

.list-group-item-dropdown {
    padding: 6px 0px 0px 30px;
}

.list-group-item-dropdown-label {
    padding: 4px 10px 0px 0px;
    font-size: 9pt;
}

.list-group-item-dropdown-input {
}

.list-group-item-delete {
    padding: 3px 0px 0px 10px;
}

.list-group-item-heading-optionsform {
    font-size: 10pt;
}

.indent-content {
    padding-left: 5px;
}

.OptionsIndent_1 {
    padding-left: 24px;
}

.OptionsIndent_2 {
    padding-left: 48px;
}

.fileUpload::-ms-browse {
    font-size: 8pt;
    padding: 5px;
    color: #000000;
}

.fileUpload::-webkit-file-upload-button {
    font-size: 8pt;
    padding: 5px;
    color: #000000;
}

.table-sm {
    font-size: 12px;
}

.filtercol1 {
    width: 16px;
    text-align: center;
}

.navbar-fixed-bottom {
    min-height: 24px;
}

.reportSummaryHeaderCell1 {
    text-align: center;
}

.reportDataCell1 {
    text-align: right;
}

.reportFooterCell1 {
    background-color: #E2E2E2;
    text-align: right;
}

.reportSummaryCell1 {
}

.reportSummaryGroupHeader {
    background-color: #E2E2E2;
}

.reportSummaryFooterCell1 {
    text-align: right;
}

.reportSummaryFooterGrandCell1 {
    text-align: right;
}

.reportSummaryDataCell0 {
    text-align: left;
}

.reportSummaryDataCell1 {
    text-align: right;
}

.reportSummaryDataCell2 {
    text-align: right;
}

.reportSummaryDataCell3 {
    text-align: right;
}

.cdhformcontainer {
    padding: 14px 0px 10px;
}

.notesgrid {
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2;
}

.notesgridusername {
    padding: 4px 0px;
    font-weight: bold;
}

.notesgridmessage {
}

.notesgridlogdate {
    color: #999999;
    padding: 4px 0px;
    border-bottom: 1px solid #e2e2e2;
}

.itemsListTopBar {
    padding-bottom: 10px;
}

.alert-condensed {
    margin-bottom: 6px;
    padding: 6px;
    font-size: .85em;
}

.label-default-invert {
    background-color: #fff;
    color: #777;
    border: 1px solid #777;
}

.label-primary-invert {
    background-color: #fff;
    color: #337ab7;
    border: 1px solid #337ab7;
}

.label-success-invert {
    background-color: #fff;
    color: #5cb85c;
    border: 1px solid #5cb85c;
}

.label-info-invert {
    background-color: #fff;
    color: #5bc0de;
    border: 1px solid #5bc0de;
}

.label-warning-invert {
    background-color: #fff;
    color: #f0ad4e;
    border: 1px solid #f0ad4e;
}

.label-danger-invert {
    background-color: #fff;
    color: #d9534f;
    border: 1px solid #d9534f;
}

.label-black-invert {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.paymentComplete {
    width: 300px;
}