body {
    padding-top: 0px;
}

.headercontainer {
    /*background-color: #E2E2E2;*/
    background-color: #000000;
    height: 80px;
}

.headerbanner {
    /*background-position:center top;*/
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    margin-top: 10px;
}

@media (max-width:767px) {
    .headercontainer {
        height: 60px;
    }

    .headerbanner {
        height: 45px;
        margin-top: 8px;
    }
}

@media (min-width:768px) {
    .navbar {
        border-radius: 0px;
    }
}

.main {
    padding: 0px 0px 20px;
}

.wfsteps {
    padding: 0px 0px 0px;
    font-size: .9em;
}

.helpmessage {
    font-size: 9pt;
}

.requiredfieldsnote {
    padding-left: 6px;
}

.requiredindicator {
    color: #a94442;
    font-size: 10pt;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.requiredindicatortransparent {
    color: transparent;
}

@media (min-width: 768px) {
    .main {
        padding: 0px 0px 20px;
    }

    .wfsteps {
        padding: 0px 35px 0px;
        font-size: .9em;
    }

    .helpmessage {
        font-size: 11pt;
    }
}

/* modify bootstrap for this theme */
.navbar-inverse {
    /*background-color: #585858;*/
    background-color: #000000;
    border-color: #434343;
}

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: #434343;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #434343;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #808080;
    }

@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #434343;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #434343;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #434343;
    }
}

.affix {
    position: fixed;
    top: 0;
    background-color: #E2E2E2;
}
/* end modify bootstrap for this theme */

.sessionheaderday {
    background-color: #333;
    color: #fff;
}

.sessionheadertime {
    background-color: #E2E2E2;
    color: #666;
}

.sessionagendaheaderday {
    background-color: #E2E2E2;
    color: #333;
    font-size: 10pt;
}

.sessionagendaheadertime {
    background-color: #fff;
    color: #666;
    font-size: 8pt;
    font-weight: bold;
}

tbody tr:hover td.sessionheaderday {
    background-color: #666;
}

.regInformationDetails {
    position: relative;
    top: -22px;
}

.editInformationButtons {
    text-align: right;
    position: relative;
    top: -37px;
    right: 6px;
}

.navbuttons {
    padding-top: 40px;
}

.groupTableCell {
    color: #000000;
}

.groupTableSummary {
    color: #000000;
}

#up1 {
    top: 0px;
    right: 0px;
    position: fixed;
    padding: 3px;
}

.list-group-item-indent {
    padding-left: 30px;
}

.list-group-item-dropdown {
    padding: 6px 0px 0px 30px;
}

.list-group-item-dropdown-label {
        padding: 4px 10px 0px 0px;
}

.list-group-item-dropdown-input {
    color: #000000;
}

.list-group-item-delete {
    padding: 3px 0px 0px 10px;
}
